In [1]:
import pandas as pd
import ast
import os
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pickle as pk

# Function to process individual datasets
def load_and_process_data(filepath, place):
    # Load the dataset
    data = pd.read_excel(filepath)
    
    # Convert columns to lowercase and replace spaces with underscores
    data.columns = data.columns.str.lower().str.replace(' ', '_')

    # Convert columns to dictionaries if needed
    data['new_car_detail'] = data['new_car_detail'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
    data['new_car_overview'] = data['new_car_overview'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
    data['new_car_feature'] = data['new_car_feature'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
    data['new_car_specs'] = data['new_car_specs'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

    # Extract new car overview from 'new_car_overview' column
    overview_records = []
    for overview in data['new_car_overview']:
        if isinstance(overview, dict):
            top_data = {item['key']: item['value'] for item in overview.get('top', [])}
            overview_records.append(top_data)
    overview_df = pd.DataFrame(overview_records)

    # Extract new car features from 'new_car_feature' column
    features_records = []
    for car_features in data['new_car_feature']:
        if isinstance(car_features, dict) and 'top' in car_features:
            top_data = {item['value'] for item in car_features['top']}
            features_records.append(top_data)
        else:
            features_records.append(set())
    features_df = pd.DataFrame(features_records)
    features_df.columns = [f'feature_{i+1}' for i in range(features_df.shape[1])]

    # Extract new car specs from 'new_car_specs' column
    spec_records = []
    for spec in data['new_car_specs']:
        if isinstance(spec, dict):
            top_data = {item['key']: item['value'] for item in spec.get('top', [])}
            spec_records.append(top_data)
    spec_df = pd.DataFrame(spec_records)

    # Extract new car details from 'new_car_detail' column
    details = []
    for detail in data['new_car_detail']:
        if isinstance(detail, dict):
            details.append(detail)
    details_df = pd.DataFrame(details)

    # Combine all DataFrames into one
    combined_df = pd.concat([details_df, overview_df, features_df, spec_df], axis=1)
    
    combined_df.columns = combined_df.columns.str.lower().str.replace(' ', '_')

    # Remove duplicate columns
    combined_df = combined_df.loc[:, ~combined_df.columns.duplicated()]

    columns_to_drop = ['it', 'ft', 'bt', 'km', 'ownerno', 'oem', 'centralvariantid', 'owner',
                   'variantname', 'priceactual', 'pricesaving', 'pricefixedtext', 
                   'trendingtext', 'registration_year', 'insurance_validity','rto', 'engine_displacement', 'year_of_manufacture',
                   'feature_1', 'feature_2', 'feature_3', 'feature_4', 'feature_5',
                   'feature_6', 'feature_7', 'feature_8', 'feature_9', 'wheel_size','torque']

    combined_df.drop(columns=columns_to_drop, inplace=True, errors='ignore')

    # Add the 'place' column for this dataset
    combined_df['place'] = place

    return combined_df

# List of file paths for the datasets
file_paths = [
    r'dataset/chennai_cars.xlsx',
    r'dataset/bangalore_cars.xlsx',
    r'dataset/delhi_cars.xlsx',
    r'dataset/hyderabad_cars.xlsx',
    r'dataset/kolkata_cars.xlsx'
]

# Corresponding state names (places)
places = ['Chennai', 'Bangalore', 'Delhi', 'Hyderabad', 'Kolkata']

# Initialize an empty list to store each processed DataFrame
dataframes = []

# Loop through file paths and places to load and process each dataset
for filepath, place in zip(file_paths, places):
    df = load_and_process_data(filepath, place)
    dataframes.append(df)

# Concatenate all DataFrames into one
combined_df = pd.concat(dataframes, ignore_index=True)

# Save the combined DataFrame to a CSV file
combined_df.to_csv('combined_data_cleaned.csv', index=False)

# Display the combined DataFrame (optional)
print(combined_df.head())

  transmission           model  modelyear         price fuel_type    seats  \
0    Automatic       Kia Sonet       2022  ₹ 11.50 Lakh    Petrol  5 Seats
1       Manual     Maruti Eeco       2015   ₹ 4.15 Lakh    Petrol  7 Seats
2       Manual  Nissan Magnite       2021   ₹ 7.50 Lakh    Petrol  5 Seats
3       Manual     Hyundai i10       2015   ₹ 3.98 Lakh    Petrol  5 Seats
4       Manual      Honda Jazz       2015   ₹ 5.50 Lakh    Petrol  5 Seats

   kms_driven    ownership   engine  max_power     mileage    place
0  20,000 Kms  First Owner   998 CC  118.36bhp         NaN  Chennai
1  20,687 Kms  First Owner  1196 CC      73bhp  15.37 kmpl  Chennai
2  30,000 Kms  First Owner   999 CC   98.63bhp     20 kmpl  Chennai
3  59,247 Kms  First Owner  1086 CC   68.05bhp  19.81 kmpl  Chennai
4  50,000 Kms  First Owner  1199 CC    88.7bhp   18.7 kmpl  Chennai

In [2]:
combined_df

,transmission,model,modelyear,price,fuel_type,seats,kms_driven,ownership,engine,max_power,mileage,place
0,Automatic,Kia Sonet,2022,₹ 11.50 Lakh,Petrol,5 Seats,"20,000 Kms",First Owner,998 CC,118.36bhp,NaN,Chennai
1,Manual,Maruti Eeco,2015,₹ 4.15 Lakh,Petrol,7 Seats,"20,687 Kms",First Owner,1196 CC,73bhp,15.37 kmpl,Chennai
2,Manual,Nissan Magnite,2021,₹ 7.50 Lakh,Petrol,5 Seats,"30,000 Kms",First Owner,999 CC,98.63bhp,20 kmpl,Chennai
3,Manual,Hyundai i10,2015,₹ 3.98 Lakh,Petrol,5 Seats,"59,247 Kms",First Owner,1086 CC,68.05bhp,19.81 kmpl,Chennai
4,Manual,Honda Jazz,2015,₹ 5.50 Lakh,Petrol,5 Seats,"50,000 Kms",First Owner,1199 CC,88.7bhp,18.7 kmpl,Chennai
...,...,...,...,...,...,...,...,...,...,...,...,...
7244,Manual,Maruti Celerio,2022,₹ 5.10 Lakh,Petrol,5 Seats,"10,000 Kms",First Owner,998 CC,65.71bhp,25.24 kmpl,Kolkata
7245,Manual,Maruti Alto 800,2014,₹ 1.80 Lakh,Petrol,5 Seats,"1,20,000 Kms",First Owner,796 CC,47.3bhp,22.74 kmpl,Kolkata
7246,Automatic,Mercedes-Benz C-Class,2011,₹ 5.50 Lakh,Petrol,5 Seats,"50,000 Kms",Third Owner,1796 CC,186bhp,11.74 kmpl,Kolkata
7247,Manual,Maruti Ritz,2012,₹ 1.40 Lakh,Petrol,5 Seats,"40,000 Kms",First Owner,1197 CC,85.80bhp,18.5 kmpl,Kolkata
7248,Manual,Renault Duster,2017,₹ 5 Lakh,Diesel,5 Seats,"1,20,000 Kms",Second Owner,1461 CC,108.45bhp,19.72 kmpl,Kolkata

In [3]:
combined_df.columns

Index(['transmission', 'model', 'modelyear', 'price', 'fuel_type', 'seats',
       'kms_driven', 'ownership', 'engine', 'max_power', 'mileage', 'place'],
      dtype='object')

In [4]:
combined_df.head()

,transmission,model,modelyear,price,fuel_type,seats,kms_driven,ownership,engine,max_power,mileage,place
0,Automatic,Kia Sonet,2022,₹ 11.50 Lakh,Petrol,5 Seats,"20,000 Kms",First Owner,998 CC,118.36bhp,NaN,Chennai
1,Manual,Maruti Eeco,2015,₹ 4.15 Lakh,Petrol,7 Seats,"20,687 Kms",First Owner,1196 CC,73bhp,15.37 kmpl,Chennai
2,Manual,Nissan Magnite,2021,₹ 7.50 Lakh,Petrol,5 Seats,"30,000 Kms",First Owner,999 CC,98.63bhp,20 kmpl,Chennai
3,Manual,Hyundai i10,2015,₹ 3.98 Lakh,Petrol,5 Seats,"59,247 Kms",First Owner,1086 CC,68.05bhp,19.81 kmpl,Chennai
4,Manual,Honda Jazz,2015,₹ 5.50 Lakh,Petrol,5 Seats,"50,000 Kms",First Owner,1199 CC,88.7bhp,18.7 kmpl,Chennai

In [5]:
combined_df.shape

(7249, 12)

In [6]:
combined_df.isnull().sum()

transmission      0
model             0
modelyear         0
price             0
fuel_type         0
seats             5
kms_driven        1
ownership        31
engine            4
max_power        51
mileage         259
place             0
dtype: int64

In [7]:
combined_df.dropna(inplace=True)

In [8]:
combined_df.shape

(6925, 12)

In [9]:
combined_df.duplicated().sum()

88

In [10]:
combined_df.drop_duplicates(inplace=True)

In [11]:
combined_df.shape

(6837, 12)

In [12]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6837 entries, 1 to 7248
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   transmission  6837 non-null   object
 1   model         6837 non-null   object
 2   modelyear     6837 non-null   int64
 3   price         6837 non-null   object
 4   fuel_type     6837 non-null   object
 5   seats         6837 non-null   object
 6   kms_driven    6837 non-null   object
 7   ownership     6837 non-null   object
 8   engine        6837 non-null   object
 9   max_power     6837 non-null   object
 10  mileage       6837 non-null   object
 11  place         6837 non-null   object
dtypes: int64(1), object(11)
memory usage: 694.4+ KB

In [13]:
def get_brand_name(car_name):
    car_name = car_name.split(' ')[0]
    return car_name.strip()

In [14]:
def get_kms(kms):
    kms = kms.replace(',', '')
    return float(kms)

In [15]:
def clean_data(value):
    value = value.split(' ')[0]
    value = value.strip()
    if value == '':
        value = 0
    return float(value)

In [16]:
combined_df['model'] = combined_df['model'].apply(get_brand_name)

In [17]:
combined_df['engine'] = combined_df['engine'].apply(get_brand_name)

In [18]:
combined_df['kms_driven'] = combined_df['kms_driven'].apply(get_brand_name)

In [19]:
combined_df['kms_driven'] = combined_df['kms_driven'].apply(get_kms)

In [20]:
combined_df['model'].unique()

array(['Maruti', 'Nissan', 'Hyundai', 'Honda', 'Mercedes-Benz', 'BMW',
       'Ford', 'Tata', 'Jeep', 'Audi', 'Toyota', 'Mahindra', 'Renault',
       'Chevrolet', 'Volkswagen', 'Datsun', 'Kia', 'Fiat', 'Land', 'MG',
       'Skoda', 'Isuzu', 'Mini', 'Volvo', 'Jaguar', 'Citroen',
       'Mitsubishi', 'Lexus', 'OpelCorsa', 'Porsche', 'Ambassador'],
      dtype=object)

In [21]:
combined_df['mileage'] = combined_df['mileage'].apply(clean_data)

In [22]:
combined_df.head()

,transmission,model,modelyear,price,fuel_type,seats,kms_driven,ownership,engine,max_power,mileage,place
1,Manual,Maruti,2015,₹ 4.15 Lakh,Petrol,7 Seats,20687.0,First Owner,1196,73bhp,15.37,Chennai
2,Manual,Nissan,2021,₹ 7.50 Lakh,Petrol,5 Seats,30000.0,First Owner,999,98.63bhp,20.00,Chennai
3,Manual,Hyundai,2015,₹ 3.98 Lakh,Petrol,5 Seats,59247.0,First Owner,1086,68.05bhp,19.81,Chennai
4,Manual,Honda,2015,₹ 5.50 Lakh,Petrol,5 Seats,50000.0,First Owner,1199,88.7bhp,18.70,Chennai
5,Automatic,Mercedes-Benz,2016,₹ 33 Lakh,Diesel,5 Seats,20000.0,First Owner,2143,204bhp,13.00,Chennai

In [23]:
def clean_data(value):
    # Split the string by space and take the numeric part
    value = value.split(' ')[0]
    # Remove any commas and strip any extra spaces
    value = value.replace(',', '').strip()
    # Handle empty strings by converting them to 0
    if value == '':
        value = 0
    # Convert the cleaned value to float
    return float(value)

In [24]:
combined_df.head()

,transmission,model,modelyear,price,fuel_type,seats,kms_driven,ownership,engine,max_power,mileage,place
1,Manual,Maruti,2015,₹ 4.15 Lakh,Petrol,7 Seats,20687.0,First Owner,1196,73bhp,15.37,Chennai
2,Manual,Nissan,2021,₹ 7.50 Lakh,Petrol,5 Seats,30000.0,First Owner,999,98.63bhp,20.00,Chennai
3,Manual,Hyundai,2015,₹ 3.98 Lakh,Petrol,5 Seats,59247.0,First Owner,1086,68.05bhp,19.81,Chennai
4,Manual,Honda,2015,₹ 5.50 Lakh,Petrol,5 Seats,50000.0,First Owner,1199,88.7bhp,18.70,Chennai
5,Automatic,Mercedes-Benz,2016,₹ 33 Lakh,Diesel,5 Seats,20000.0,First Owner,2143,204bhp,13.00,Chennai

In [25]:
combined_df['seats'] = combined_df['seats'].apply(clean_data)

In [26]:
def clean_data1(value):
    # Remove any non-numeric characters except the period
    value = ''.join([char for char in value if char.isdigit() or char == '.'])
    
    # If the value is empty after cleaning, set it to 0
    if value == '':
        value = 0
    
    return float(value)

# Apply the function to the 'max_power' column
combined_df['max_power'] = combined_df['max_power'].apply(clean_data1)

In [27]:
def price_cleaned_data(value):
    # Remove the ₹ symbol and any extra spaces
    value = value.replace('₹', '').strip()
    
    # Split the string to separate the numeric part and the unit ('Lakh' or nothing)
    parts = value.split(' ')
    numeric_value = parts[0].replace(',', '').strip()  # Remove commas
    
    # Handle empty strings
    if numeric_value == '':
        numeric_value = 0
    else:
        numeric_value = float(numeric_value)
    
    # Check if the value is in Lakhs and convert it to the full form
    if len(parts) > 1 and parts[1] == 'Lakh':
        numeric_value *= 100000  # Convert Lakh to full number (4.15 Lakh → 415000)
    
    # Return the cleaned and converted float value
    return numeric_value

# Apply the function to clean the 'price' column
combined_df['price'] = combined_df['price'].apply(price_cleaned_data)

In [28]:
for col in combined_df.columns:
    print('Unique values of ' + col)
    print(combined_df[col].unique())
    print("======================")

Unique values of transmission
['Manual' 'Automatic']
======================
Unique values of model
['Maruti' 'Nissan' 'Hyundai' 'Honda' 'Mercedes-Benz' 'BMW' 'Ford' 'Tata'
 'Jeep' 'Audi' 'Toyota' 'Mahindra' 'Renault' 'Chevrolet' 'Volkswagen'
 'Datsun' 'Kia' 'Fiat' 'Land' 'MG' 'Skoda' 'Isuzu' 'Mini' 'Volvo' 'Jaguar'
 'Citroen' 'Mitsubishi' 'Lexus' 'OpelCorsa' 'Porsche' 'Ambassador']
======================
Unique values of modelyear
[2015 2021 2016 2010 2018 2019 2020 2017 2014 2013 2022 2008 2011 2012
 2007 2009 2023 2002 2005 2003 2004 2006 1998 2001 1985]
======================
Unique values of price
[ 415000.  750000.  398000. ...   35000. 1082000.  105000.]
======================
Unique values of fuel_type
['Petrol' 'Diesel' 'CNG' 'LPG' 'Electric']
======================
Unique values of seats
[ 7.  5.  6.  8.  4. 10.  9.  2.]
======================
Unique values of kms_driven
[ 20687.  30000.  59247. ...  53562.  32190. 151000.]
======================
Unique values of ownership
['First Owner' 'Second Owner' 'Third Owner' 'Fourth Owner' 'Fifth Owner']
======================
Unique values of engine
['1196' '999' '1086' '1199' '2143' '998' '1995' '1497' '1197' '1956'
 '1198' '1248' '1582' '1984' '2694' '1498' '1298' '1461' '1798' '1364'
 '1591' '1968' '2967' '2393' '2993' '1368' '1373' '1598' '2179' '1462'
 '1451' '2198' '1194' '1991' '1493' '1998' '4663' '2987' '796' '1186'
 '1799' '1950' '1496' '2925' '1396' '1353' '799' '1405' '2755' '814'
 '2494' '1399' '1997' '1047' '2999' '1499' '1896' '1999' '1969' '1495'
 '1390' '1120' '2523' '2354' '624' '793' '936' '4134' '993' '2499' '2982'
 '1796' '1422' '1172' '1468' '1599' '1586' '1193' '2199' '1330' '2696'
 '2400' '2477' '2998' '2997' '2995' '1395' '2487' '1797' '1341' '3198'
 '2148' '1299' '1061' '2497' '1590' '1781' '2953' '1595' '2496' '2362'
 '1389' '1597' '2498' '995' '72' '1589' '1596' '3597' '5000' '2200' '2996'
 '1108' '1996' '1794' '3456' '2360' '2184' '3982' '1482' '3498' '2979'
 '1349' '2157' '1985' '2359' '2609' '2231' '2446' '1817' '3993' '1948'
 '4806' '1993' '1490' '2489']
======================
Unique values of max_power
[7.3000000e+01 9.8630000e+01 6.8050000e+01 8.8700000e+01 2.0400000e+02
 6.7040000e+01 6.6100000e+01 1.8770000e+02 1.2136000e+02 8.1800000e+01
 1.8774000e+02 8.1860000e+01 1.0850000e+02 1.6767000e+02 1.1730000e+02
 8.6700000e+01 7.4000000e+01 1.2620000e+02 1.1835000e+02 1.7701000e+02
 1.1760000e+02 8.3100000e+01 8.2000000e+01 1.6360000e+02 9.8600000e+01
 1.0730000e+02 8.5000000e+01 1.0845000e+02 1.3810000e+02 1.0862000e+02
 8.6790000e+01 7.4020000e+01 1.2130000e+02 8.2400000e+01 2.4140000e+02
 8.8500000e+01 2.4500000e+02 1.4780000e+02 1.6762000e+02 2.5800000e+02
 7.5100000e+01 6.7050000e+01 6.8000000e+01 1.1398000e+02 7.8900000e+01
 1.1343000e+02 8.8760000e+01 9.0000000e+01 9.8960000e+01 9.1100000e+01
 1.6077000e+02 1.0320000e+02 7.3750000e+01 1.1630000e+02 8.6800000e+01
 1.4100000e+02 1.5770000e+02 8.1830000e+01 9.4680000e+01 1.4200000e+02
 1.0000000e+02 2.0320000e+02 1.4300000e+02 2.5200000e+02 4.5900000e+02
 2.1000000e+02 1.9000000e+02 8.7200000e+01 4.7330000e+01 1.4751000e+02
 1.1836000e+02 1.0849000e+02 7.3970000e+01 1.3000000e+02 6.5710000e+01
 6.7000000e+01 1.9170000e+02 1.4000000e+02 8.8730000e+01 1.0360000e+02
 1.0325000e+02 2.8161000e+02 1.1866000e+06 6.7100000e+01 1.3808000e+02
 1.7433000e+02 5.3300000e+01 1.0350000e+02 2.6150000e+02 8.5800000e+01
 7.0000000e+01 1.7450000e+02 1.0860000e+02 2.6140000e+02 7.1010000e+01
 8.4000000e+01 5.5200000e+01 1.0200000e+02 8.9840000e+01 1.0326000e+02
 8.4820000e+01 7.4960000e+01 7.3900000e+01 1.8800000e+02 1.5000000e+02
 5.3640000e+01 1.4800000e+02 1.1935000e+02 8.3830000e+01 1.6768000e+02
 6.9000000e+01 1.6100000e+02 1.3600000e+02 1.9176000e+02 1.3803000e+02
 2.3500000e+02 9.8000000e+01 2.0115000e+02 2.4800000e+02 1.8100000e+02
 1.1040000e+02 4.6300000e+01 3.7000000e+01 9.7900000e+01 6.7060000e+01
 1.3812000e+02 1.0352000e+02 1.4752000e+02 9.8590000e+01 2.5479000e+02
 1.5800000e+02 7.5000000e+01 1.0500000e+02 1.4992000e+02 9.3700000e+01
 1.7700000e+02 1.2030000e+02 8.8770000e+01 1.2632000e+02 7.3940000e+01
 2.4808000e+02 8.3140000e+01 7.5940000e+01 5.3260000e+01 4.7300000e+01
 8.8800000e+01 8.6630000e+01 1.8400000e+02 1.3805000e+02 1.1505000e+02
 1.8740000e+02 1.5690000e+02 9.0400000e+05 1.0600000e+02 6.3320000e+05
 1.7760000e+02 1.0300000e+02 6.5000000e+01 3.7500000e+01 4.7000000e+01
 8.0520000e+05 5.7600000e+01 9.4930000e+01 8.2850000e+01 1.7000000e+02
 1.8000000e+02 8.4480000e+01 1.1000000e+02 1.6000000e+02 3.3520000e+02
 9.9000000e+01 1.5287000e+02 8.3810000e+01 2.1800000e+02 8.8200000e+01
 6.0000000e+01 1.7063000e+02 1.0050000e+02 1.1400000e+02 1.8908000e+02
 8.0000000e+01 1.6850000e+02 1.2324000e+02 8.8000000e+01 3.8000000e+01
 1.2000000e+02 1.2131000e+02 7.7000000e+01 7.1020000e+01 1.3410000e+02
 9.2700000e+01 1.8600000e+02 7.0400000e+05 1.1640000e+02 8.6830000e+01
 5.3500000e+01 1.0164000e+02 1.7150000e+02 5.6300000e+01 1.0450000e+02
 1.2630000e+02 6.6904000e+07 7.2000000e+01 4.0000000e+02 1.0552500e+06
 1.0468000e+02 9.5480000e+01 7.2410000e+01 1.7500000e+02 1.0848000e+02
 6.2100000e+01 1.1841000e+02 6.4100000e+01 1.0594000e+02 1.0400000e+02
 1.9430000e+02 1.5386600e+02 1.6200000e+02 7.3740000e+01 2.1500000e+02
 1.7556000e+02 3.3526000e+02 1.2086700e+04 7.0020000e+01 1.9700000e+02
 2.3670000e+02 1.5820000e+02 2.5480000e+02 9.7700000e+01 9.0660000e+03
 6.3100000e+01 8.3800000e+01 1.2069000e+02 2.5500000e+02 2.1450000e+02
 2.1456000e+02 9.7890000e+01 2.4138000e+02 7.6430000e+01 1.3800000e+02
 1.8104000e+02 1.5386000e+02 1.0455000e+02 4.5326000e+02 1.9440000e+02
 1.9400000e+02 1.7100000e+02 1.4750000e+02 8.3000000e+01 1.7800000e+02
 1.0550000e+02 1.4794000e+02 1.0257000e+02 1.7430000e+02 1.1342000e+02
 1.8246000e+02 1.5880000e+02 1.3010000e+02 2.0300000e+02 1.0060000e+02
 1.1500000e+02 9.4000000e+01 1.2070000e+02 1.9720000e+02 1.7746000e+02
 1.1200000e+02 1.1318000e+02 1.0253000e+02 1.6320000e+02 1.2033000e+02
 2.6149000e+02 1.1345000e+02 3.5000000e+01 8.6760000e+01 1.6370000e+02
 7.1000000e+01 6.1000000e+01 1.4790000e+02 1.6470000e+02 1.4500000e+02
 7.9400000e+01 5.2800000e+01 1.0325500e+02 7.8000000e+01 9.2000000e+01
 1.1238000e+06 6.3000000e+01 1.6760000e+02 6.1680000e+01 8.5700000e+01
 2.4674000e+02 6.2000000e+01 7.2400000e+01 3.3525000e+02 4.0000000e+01
 9.3000000e+01 8.0460000e+01 1.6160000e+02 1.0100000e+02 1.5775000e+02
 1.1220000e+02 1.0165000e+02 2.6000000e+02 7.3800000e+01 1.1050000e+02
 1.2100000e+02 3.7970000e+02 8.4800000e+01 1.2624000e+02 3.8487000e+02
 4.8210000e+01 2.0110000e+02 5.7000000e+01 1.7300000e+02 8.4375000e+05
 2.0000000e+02 1.7750000e+02 9.9230000e+01 1.5879000e+02 1.9726000e+02
 1.1830000e+02 2.9600000e+02 4.0360000e+01 9.1700000e+01 2.1501000e+02
 6.4000000e+01 3.2184000e+02 5.8000000e+01 9.1190000e+01 2.6800000e+02
 1.8300000e+02 8.3110000e+01 2.9630000e+02 2.8200000e+02 2.5881000e+02
 5.8330000e+01 2.4130000e+02 1.0339000e+02 1.9200000e+02 2.3700000e+02
 2.5900000e+02 1.8103000e+02 7.0400000e+01 4.6900000e+02 3.7548000e+02
 5.8200000e+01 1.9444000e+02 5.5920000e+01 3.3300000e+02 2.5000000e+02
 2.3736000e+02 1.5757000e+02 1.5974000e+02 2.1255000e+02 2.5747000e+02
 3.0600000e+02 7.6000000e+01 1.5288000e+02 3.6207000e+02 1.8500000e+02
 1.3400000e+02 1.5781000e+02 1.6350000e+02 1.2337000e+02 6.8100000e+01
 1.3030000e+02 1.0250000e+02 1.3020000e+02 6.5390000e+01 1.6870000e+02
 3.2100000e+02 5.8160000e+01 1.3946000e+02 2.4559000e+02 3.6490000e+02
 9.9600000e+01 8.2900000e+01 9.8690000e+01 3.0173000e+02 2.7200000e+02
 1.7849000e+02 3.8400000e+01 1.6300000e+02 1.5387000e+02 9.3870000e+01
 1.3813000e+02 1.2096000e+02 2.7120000e+02 2.4160000e+02 1.6500000e+02
 1.0750000e+02 9.1720000e+01 2.7090000e+02 5.7500000e+01 9.6550000e+01
 8.9750000e+01 8.9000000e+01 1.1660000e+02 1.1015057e+09 1.6770000e+02
 7.9650000e+01 2.0800000e+02 1.2500000e+02 6.1600000e+01 1.4400000e+02
 1.3200000e+02 6.8070000e+01 2.4700000e+02 9.7600000e+01 5.9180000e+01
 3.9430000e+02 1.9825000e+02 5.2000000e+01 5.1000000e+02 7.6800000e+01
 1.5019000e+02 1.3678000e+02 3.0000000e+02 7.5400000e+05 2.6500000e+02
 1.5500000e+02 1.9713000e+02 9.1180000e+01 1.1340000e+02 7.8800000e+01
 3.7550000e+02 1.5400000e+02 1.6800000e+02 2.2130000e+02 1.5682000e+02
 1.4080000e+02 1.7840000e+02 9.7640000e+01]
======================
Unique values of mileage
[ 15.37   20.     19.81   18.7    13.     23.1    19.     16.55   14.8
  21.     18.2    20.37   22.     18.9    21.5    17.1    17.4    18.
  20.3    25.2    17.8    17.01   18.15   13.53   21.4     8.     17.5
  27.3    15.     15.9    19.6    20.7    14.53   16.82   21.43   28.4
  17.     18.53   13.22   25.5    28.09   14.75   13.68   19.27   16.46
  17.74   14.08   19.02   18.41   23.8    16.8    14.6    17.52   20.36
  18.6    16.     15.5    16.2    23.     19.12   14.3    20.14   24.52
  16.35   16.09   12.51   15.6    17.99   19.4    15.81   13.5    13.6
  18.49   21.21   15.26   20.38   21.66   19.1    22.41   15.34    7.81
  18.12   20.51   19.08   22.05   18.86   14.82   19.56   23.95   24.
  19.49   25.24   24.7    21.74   19.67   16.1    15.1    17.6    21.14
  22.95   26.     20.28   23.7    16.5    15.73   25.17   16.14   17.21
  13.38   15.04   26.68   20.89   24.39   21.7    15.8    11.7    24.3
  25.8    20.73   18.5    21.01   17.09   26.21   23.84   21.1    12.8
  16.47   20.92   22.7    17.03   15.29   16.95   19.01   18.97   19.3
  21.76   15.2    19.28   21.63   19.5    21.19   12.     17.41   22.54
  12.08   17.9    16.78   17.2    11.5    14.16   19.23    8.5    15.97
   9.     22.38   23.65   15.85   19.7    17.68   19.03   14.84   25.6
  22.3    20.1    18.72   17.19   18.3    13.96   22.77   15.3    23.01
  16.65   12.62   20.5    19.44   14.62   22.69   18.78   16.36   16.38
  14.69   23.64   26.59   19.71   20.4    17.11   22.32   24.4    23.2
  13.17   20.85   14.24   19.15   25.     22.25   22.15   23.56   20.09
  23.4    18.88   15.4    19.62   14.5    21.9    16.25   19.72   22.9
  18.76   12.07   17.88   19.34   14.4    25.4    27.62   22.74   25.44
  18.27   21.72   21.79   22.07   20.71    9.8    13.14   11.33   25.19
  18.16   24.29   15.63   19.16   16.73   14.2    17.3    19.83   27.28
  25.83   16.3    22.1    12.2    18.4    12.78   20.68   24.04   27.39
  20.08   12.05   25.32   20.52   18.75   14.49   11.74   12.99   20.58
  24.35   11.36   14.19   18.19   17.05   12.7    26.49   11.3    15.7
  13.7    13.9    16.98   21.56   23.9    16.02   16.11   17.57   13.8
  18.05   18.24   17.92   18.06   20.25   24.2    19.2    18.1    15.64
  21.13   19.19   13.01   16.42   12.83   22.35   14.59   17.67   11.24
  20.77   12.18   18.8    20.65   20.8    26.2    14.7    23.08   16.24
  19.87   22.37   19.33   16.9    14.57   19.59   14.85   16.13   15.17
  18.55   14.74   20.45   14.28   20.63   21.27   17.33   18.48   13.45
  12.6    15.56   19.98   27.03   16.56   13.2    14.1    13.24   10.91
  16.07   11.1    11.4    11.72   13.32   20.54   10.     11.18   14.21
  10.9    15.43   14.11   22.56   14.67   14.71   17.69   12.55   17.7
  13.06   12.3    17.14   21.03   22.5    21.46   17.42   18.56   13.79
  18.25   14.99   11.9    11.57   20.04   14.     18.45   16.96   12.65
  19.65   10.75   21.73   13.4    20.46   12.35   20.88   26.11   13.58
  10.54   19.64  140.     19.69   15.41   14.9    19.47   10.5    19.09
  21.64   22.61   18.09    8.9    23.59   15.96   13.93   16.4    16.28
  20.86   18.07   16.6    26.1    13.92   14.02   31.59   21.8    12.74
  28.     12.4    12.5    14.025  19.89   30.48   33.54   19.61   26.08
  12.1    12.81    9.2    17.71   16.34   30.46   32.52   11.21   16.39
  11.2    11.67   16.12   26.55    7.08   31.2    12.33   31.79   11.
   8.13   35.6    16.72   25.1    22.48   20.6    14.01   17.38   12.04
  12.34   10.8     9.26   12.95   12.9    16.7    15.68   10.4    20.15
  31.12   26.8    11.88   18.69   22.27   15.01   10.26   19.39   14.34
   8.45   12.63   26.6    13.47   10.13   20.27   14.09   20.01   14.47
  10.93   26.83   24.76   21.11   14.23   26.82   17.32   25.3    19.95
  21.12   11.96   21.02   19.68   18.23   23.22   17.97   16.97   13.33
  27.4    26.5    25.01   17.43   22.71   20.34   24.1    30.47   17.29
  21.49   13.1    18.43   12.12    9.74   25.47   19.17    9.4     7.5
  13.44   14.94   23.03   15.39   24.97   34.05   17.85   21.38   27.97
  20.62   15.15   19.8    14.95   11.81   12.98 ]
======================
Unique values of place
['Chennai' 'Bangalore' 'Delhi' 'Hyderabad' 'Kolkata']
======================

In [29]:
combined_df.to_csv('cleaned.csv')

In [30]:
combined_df.head()

,transmission,model,modelyear,price,fuel_type,seats,kms_driven,ownership,engine,max_power,mileage,place
1,Manual,Maruti,2015,415000.0,Petrol,7.0,20687.0,First Owner,1196,73.00,15.37,Chennai
2,Manual,Nissan,2021,750000.0,Petrol,5.0,30000.0,First Owner,999,98.63,20.00,Chennai
3,Manual,Hyundai,2015,398000.0,Petrol,5.0,59247.0,First Owner,1086,68.05,19.81,Chennai
4,Manual,Honda,2015,550000.0,Petrol,5.0,50000.0,First Owner,1199,88.70,18.70,Chennai
5,Automatic,Mercedes-Benz,2016,3300000.0,Diesel,5.0,20000.0,First Owner,2143,204.00,13.00,Chennai

In [31]:
combined_df.dtypes

transmission     object
model            object
modelyear         int64
price           float64
fuel_type        object
seats           float64
kms_driven      float64
ownership        object
engine           object
max_power       float64
mileage         float64
place            object
dtype: object

In [32]:
combined_df.to_csv('final.csv')

In [33]:
combined_df['model'].replace(
    ['Maruti', 'Nissan', 'Hyundai', 'Honda', 'Mercedes-Benz', 'BMW', 'Ford', 
     'Tata', 'Jeep', 'Audi', 'Toyota', 'Mahindra', 'Renault', 'Chevrolet', 
     'Volkswagen', 'Datsun', 'Kia', 'Fiat', 'Land', 'MG', 'Skoda', 'Isuzu',
     'Mini', 'Volvo', 'Jaguar', 'Citroen', 'Mitsubishi', 'Lexus', 
     'OpelCorsa', 'Porsche', 'Ambassador'],
    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30,31],
    inplace=True
)

In [34]:
combined_df['transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [35]:
combined_df['transmission'].replace(['Manual', 'Automatic'],[1,2], inplace=True)

In [36]:
combined_df.columns

Index(['transmission', 'model', 'modelyear', 'price', 'fuel_type', 'seats',
       'kms_driven', 'ownership', 'engine', 'max_power', 'mileage', 'place'],
      dtype='object')

In [37]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6837 entries, 1 to 7248
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   transmission  6837 non-null   int64
 1   model         6837 non-null   int64
 2   modelyear     6837 non-null   int64
 3   price         6837 non-null   float64
 4   fuel_type     6837 non-null   object
 5   seats         6837 non-null   float64
 6   kms_driven    6837 non-null   float64
 7   ownership     6837 non-null   object
 8   engine        6837 non-null   object
 9   max_power     6837 non-null   float64
 10  mileage       6837 non-null   float64
 11  place         6837 non-null   object
dtypes: float64(5), int64(3), object(4)
memory usage: 694.4+ KB

In [38]:
combined_df['fuel_type'].unique()

array(['Petrol', 'Diesel', 'CNG', 'LPG', 'Electric'], dtype=object)

In [39]:
combined_df['fuel_type'].replace(['Petrol', 'Diesel', 'CNG', 'LPG', 'Electric'],[1,2,3,4,5], inplace=True)

In [40]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6837 entries, 1 to 7248
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   transmission  6837 non-null   int64
 1   model         6837 non-null   int64
 2   modelyear     6837 non-null   int64
 3   price         6837 non-null   float64
 4   fuel_type     6837 non-null   int64
 5   seats         6837 non-null   float64
 6   kms_driven    6837 non-null   float64
 7   ownership     6837 non-null   object
 8   engine        6837 non-null   object
 9   max_power     6837 non-null   float64
 10  mileage       6837 non-null   float64
 11  place         6837 non-null   object
dtypes: float64(5), int64(4), object(3)
memory usage: 694.4+ KB

In [41]:
combined_df.reset_index(inplace=True)

In [42]:
combined_df

,index,transmission,model,modelyear,price,fuel_type,seats,kms_driven,ownership,engine,max_power,mileage,place
0,1,1,1,2015,415000.0,1,7.0,20687.0,First Owner,1196,73.00,15.37,Chennai
1,2,1,2,2021,750000.0,1,5.0,30000.0,First Owner,999,98.63,20.00,Chennai
2,3,1,3,2015,398000.0,1,5.0,59247.0,First Owner,1086,68.05,19.81,Chennai
3,4,1,4,2015,550000.0,1,5.0,50000.0,First Owner,1199,88.70,18.70,Chennai
4,5,2,5,2016,3300000.0,2,5.0,20000.0,First Owner,2143,204.00,13.00,Chennai
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6832,7244,1,1,2022,510000.0,1,5.0,10000.0,First Owner,998,65.71,25.24,Kolkata
6833,7245,1,1,2014,180000.0,1,5.0,120000.0,First Owner,796,47.30,22.74,Kolkata
6834,7246,2,5,2011,550000.0,1,5.0,50000.0,Third Owner,1796,186.00,11.74,Kolkata
6835,7247,1,1,2012,140000.0,1,5.0,40000.0,First Owner,1197,85.80,18.50,Kolkata
6836,7248,1,13,2017,500000.0,2,5.0,120000.0,Second Owner,1461,108.45,19.72,Kolkata

In [43]:
combined_df['ownership'].unique()

array(['First Owner', 'Second Owner', 'Third Owner', 'Fourth Owner',
       'Fifth Owner'], dtype=object)

In [44]:
combined_df['ownership'].replace(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth Owner', 'Fifth Owner'],
                           [1,2,3,4,5], inplace=True)

In [45]:
combined_df['place'].unique()

array(['Chennai', 'Bangalore', 'Delhi', 'Hyderabad', 'Kolkata'],
      dtype=object)

In [46]:
combined_df['place'].replace(['Chennai', 'Bangalore', 'Delhi', 'Hyderabad', 'Kolkata'],
                           [1,2,3,4,5], inplace=True)

In [47]:
combined_df.drop(columns=['index'], inplace=True)

In [48]:
for col in combined_df.columns:
    print('------------')
    print(col)
    print(combined_df[col].unique())

------------
transmission
[1 2]
------------
model
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
------------
modelyear
[2015 2021 2016 2010 2018 2019 2020 2017 2014 2013 2022 2008 2011 2012
 2007 2009 2023 2002 2005 2003 2004 2006 1998 2001 1985]
------------
price
[ 415000.  750000.  398000. ...   35000. 1082000.  105000.]
------------
fuel_type
[1 2 3 4 5]
------------
seats
[ 7.  5.  6.  8.  4. 10.  9.  2.]
------------
kms_driven
[ 20687.  30000.  59247. ...  53562.  32190. 151000.]
------------
ownership
[1 2 3 4 5]
------------
engine
['1196' '999' '1086' '1199' '2143' '998' '1995' '1497' '1197' '1956'
 '1198' '1248' '1582' '1984' '2694' '1498' '1298' '1461' '1798' '1364'
 '1591' '1968' '2967' '2393' '2993' '1368' '1373' '1598' '2179' '1462'
 '1451' '2198' '1194' '1991' '1493' '1998' '4663' '2987' '796' '1186'
 '1799' '1950' '1496' '2925' '1396' '1353' '799' '1405' '2755' '814'
 '2494' '1399' '1997' '1047' '2999' '1499' '1896' '1999' '1969' '1495'
 '1390' '1120' '2523' '2354' '624' '793' '936' '4134' '993' '2499' '2982'
 '1796' '1422' '1172' '1468' '1599' '1586' '1193' '2199' '1330' '2696'
 '2400' '2477' '2998' '2997' '2995' '1395' '2487' '1797' '1341' '3198'
 '2148' '1299' '1061' '2497' '1590' '1781' '2953' '1595' '2496' '2362'
 '1389' '1597' '2498' '995' '72' '1589' '1596' '3597' '5000' '2200' '2996'
 '1108' '1996' '1794' '3456' '2360' '2184' '3982' '1482' '3498' '2979'
 '1349' '2157' '1985' '2359' '2609' '2231' '2446' '1817' '3993' '1948'
 '4806' '1993' '1490' '2489']
------------
max_power
[7.3000000e+01 9.8630000e+01 6.8050000e+01 8.8700000e+01 2.0400000e+02
 6.7040000e+01 6.6100000e+01 1.8770000e+02 1.2136000e+02 8.1800000e+01
 1.8774000e+02 8.1860000e+01 1.0850000e+02 1.6767000e+02 1.1730000e+02
 8.6700000e+01 7.4000000e+01 1.2620000e+02 1.1835000e+02 1.7701000e+02
 1.1760000e+02 8.3100000e+01 8.2000000e+01 1.6360000e+02 9.8600000e+01
 1.0730000e+02 8.5000000e+01 1.0845000e+02 1.3810000e+02 1.0862000e+02
 8.6790000e+01 7.4020000e+01 1.2130000e+02 8.2400000e+01 2.4140000e+02
 8.8500000e+01 2.4500000e+02 1.4780000e+02 1.6762000e+02 2.5800000e+02
 7.5100000e+01 6.7050000e+01 6.8000000e+01 1.1398000e+02 7.8900000e+01
 1.1343000e+02 8.8760000e+01 9.0000000e+01 9.8960000e+01 9.1100000e+01
 1.6077000e+02 1.0320000e+02 7.3750000e+01 1.1630000e+02 8.6800000e+01
 1.4100000e+02 1.5770000e+02 8.1830000e+01 9.4680000e+01 1.4200000e+02
 1.0000000e+02 2.0320000e+02 1.4300000e+02 2.5200000e+02 4.5900000e+02
 2.1000000e+02 1.9000000e+02 8.7200000e+01 4.7330000e+01 1.4751000e+02
 1.1836000e+02 1.0849000e+02 7.3970000e+01 1.3000000e+02 6.5710000e+01
 6.7000000e+01 1.9170000e+02 1.4000000e+02 8.8730000e+01 1.0360000e+02
 1.0325000e+02 2.8161000e+02 1.1866000e+06 6.7100000e+01 1.3808000e+02
 1.7433000e+02 5.3300000e+01 1.0350000e+02 2.6150000e+02 8.5800000e+01
 7.0000000e+01 1.7450000e+02 1.0860000e+02 2.6140000e+02 7.1010000e+01
 8.4000000e+01 5.5200000e+01 1.0200000e+02 8.9840000e+01 1.0326000e+02
 8.4820000e+01 7.4960000e+01 7.3900000e+01 1.8800000e+02 1.5000000e+02
 5.3640000e+01 1.4800000e+02 1.1935000e+02 8.3830000e+01 1.6768000e+02
 6.9000000e+01 1.6100000e+02 1.3600000e+02 1.9176000e+02 1.3803000e+02
 2.3500000e+02 9.8000000e+01 2.0115000e+02 2.4800000e+02 1.8100000e+02
 1.1040000e+02 4.6300000e+01 3.7000000e+01 9.7900000e+01 6.7060000e+01
 1.3812000e+02 1.0352000e+02 1.4752000e+02 9.8590000e+01 2.5479000e+02
 1.5800000e+02 7.5000000e+01 1.0500000e+02 1.4992000e+02 9.3700000e+01
 1.7700000e+02 1.2030000e+02 8.8770000e+01 1.2632000e+02 7.3940000e+01
 2.4808000e+02 8.3140000e+01 7.5940000e+01 5.3260000e+01 4.7300000e+01
 8.8800000e+01 8.6630000e+01 1.8400000e+02 1.3805000e+02 1.1505000e+02
 1.8740000e+02 1.5690000e+02 9.0400000e+05 1.0600000e+02 6.3320000e+05
 1.7760000e+02 1.0300000e+02 6.5000000e+01 3.7500000e+01 4.7000000e+01
 8.0520000e+05 5.7600000e+01 9.4930000e+01 8.2850000e+01 1.7000000e+02
 1.8000000e+02 8.4480000e+01 1.1000000e+02 1.6000000e+02 3.3520000e+02
 9.9000000e+01 1.5287000e+02 8.3810000e+01 2.1800000e+02 8.8200000e+01
 6.0000000e+01 1.7063000e+02 1.0050000e+02 1.1400000e+02 1.8908000e+02
 8.0000000e+01 1.6850000e+02 1.2324000e+02 8.8000000e+01 3.8000000e+01
 1.2000000e+02 1.2131000e+02 7.7000000e+01 7.1020000e+01 1.3410000e+02
 9.2700000e+01 1.8600000e+02 7.0400000e+05 1.1640000e+02 8.6830000e+01
 5.3500000e+01 1.0164000e+02 1.7150000e+02 5.6300000e+01 1.0450000e+02
 1.2630000e+02 6.6904000e+07 7.2000000e+01 4.0000000e+02 1.0552500e+06
 1.0468000e+02 9.5480000e+01 7.2410000e+01 1.7500000e+02 1.0848000e+02
 6.2100000e+01 1.1841000e+02 6.4100000e+01 1.0594000e+02 1.0400000e+02
 1.9430000e+02 1.5386600e+02 1.6200000e+02 7.3740000e+01 2.1500000e+02
 1.7556000e+02 3.3526000e+02 1.2086700e+04 7.0020000e+01 1.9700000e+02
 2.3670000e+02 1.5820000e+02 2.5480000e+02 9.7700000e+01 9.0660000e+03
 6.3100000e+01 8.3800000e+01 1.2069000e+02 2.5500000e+02 2.1450000e+02
 2.1456000e+02 9.7890000e+01 2.4138000e+02 7.6430000e+01 1.3800000e+02
 1.8104000e+02 1.5386000e+02 1.0455000e+02 4.5326000e+02 1.9440000e+02
 1.9400000e+02 1.7100000e+02 1.4750000e+02 8.3000000e+01 1.7800000e+02
 1.0550000e+02 1.4794000e+02 1.0257000e+02 1.7430000e+02 1.1342000e+02
 1.8246000e+02 1.5880000e+02 1.3010000e+02 2.0300000e+02 1.0060000e+02
 1.1500000e+02 9.4000000e+01 1.2070000e+02 1.9720000e+02 1.7746000e+02
 1.1200000e+02 1.1318000e+02 1.0253000e+02 1.6320000e+02 1.2033000e+02
 2.6149000e+02 1.1345000e+02 3.5000000e+01 8.6760000e+01 1.6370000e+02
 7.1000000e+01 6.1000000e+01 1.4790000e+02 1.6470000e+02 1.4500000e+02
 7.9400000e+01 5.2800000e+01 1.0325500e+02 7.8000000e+01 9.2000000e+01
 1.1238000e+06 6.3000000e+01 1.6760000e+02 6.1680000e+01 8.5700000e+01
 2.4674000e+02 6.2000000e+01 7.2400000e+01 3.3525000e+02 4.0000000e+01
 9.3000000e+01 8.0460000e+01 1.6160000e+02 1.0100000e+02 1.5775000e+02
 1.1220000e+02 1.0165000e+02 2.6000000e+02 7.3800000e+01 1.1050000e+02
 1.2100000e+02 3.7970000e+02 8.4800000e+01 1.2624000e+02 3.8487000e+02
 4.8210000e+01 2.0110000e+02 5.7000000e+01 1.7300000e+02 8.4375000e+05
 2.0000000e+02 1.7750000e+02 9.9230000e+01 1.5879000e+02 1.9726000e+02
 1.1830000e+02 2.9600000e+02 4.0360000e+01 9.1700000e+01 2.1501000e+02
 6.4000000e+01 3.2184000e+02 5.8000000e+01 9.1190000e+01 2.6800000e+02
 1.8300000e+02 8.3110000e+01 2.9630000e+02 2.8200000e+02 2.5881000e+02
 5.8330000e+01 2.4130000e+02 1.0339000e+02 1.9200000e+02 2.3700000e+02
 2.5900000e+02 1.8103000e+02 7.0400000e+01 4.6900000e+02 3.7548000e+02
 5.8200000e+01 1.9444000e+02 5.5920000e+01 3.3300000e+02 2.5000000e+02
 2.3736000e+02 1.5757000e+02 1.5974000e+02 2.1255000e+02 2.5747000e+02
 3.0600000e+02 7.6000000e+01 1.5288000e+02 3.6207000e+02 1.8500000e+02
 1.3400000e+02 1.5781000e+02 1.6350000e+02 1.2337000e+02 6.8100000e+01
 1.3030000e+02 1.0250000e+02 1.3020000e+02 6.5390000e+01 1.6870000e+02
 3.2100000e+02 5.8160000e+01 1.3946000e+02 2.4559000e+02 3.6490000e+02
 9.9600000e+01 8.2900000e+01 9.8690000e+01 3.0173000e+02 2.7200000e+02
 1.7849000e+02 3.8400000e+01 1.6300000e+02 1.5387000e+02 9.3870000e+01
 1.3813000e+02 1.2096000e+02 2.7120000e+02 2.4160000e+02 1.6500000e+02
 1.0750000e+02 9.1720000e+01 2.7090000e+02 5.7500000e+01 9.6550000e+01
 8.9750000e+01 8.9000000e+01 1.1660000e+02 1.1015057e+09 1.6770000e+02
 7.9650000e+01 2.0800000e+02 1.2500000e+02 6.1600000e+01 1.4400000e+02
 1.3200000e+02 6.8070000e+01 2.4700000e+02 9.7600000e+01 5.9180000e+01
 3.9430000e+02 1.9825000e+02 5.2000000e+01 5.1000000e+02 7.6800000e+01
 1.5019000e+02 1.3678000e+02 3.0000000e+02 7.5400000e+05 2.6500000e+02
 1.5500000e+02 1.9713000e+02 9.1180000e+01 1.1340000e+02 7.8800000e+01
 3.7550000e+02 1.5400000e+02 1.6800000e+02 2.2130000e+02 1.5682000e+02
 1.4080000e+02 1.7840000e+02 9.7640000e+01]
------------
mileage
[ 15.37   20.     19.81   18.7    13.     23.1    19.     16.55   14.8
  21.     18.2    20.37   22.     18.9    21.5    17.1    17.4    18.
  20.3    25.2    17.8    17.01   18.15   13.53   21.4     8.     17.5
  27.3    15.     15.9    19.6    20.7    14.53   16.82   21.43   28.4
  17.     18.53   13.22   25.5    28.09   14.75   13.68   19.27   16.46
  17.74   14.08   19.02   18.41   23.8    16.8    14.6    17.52   20.36
  18.6    16.     15.5    16.2    23.     19.12   14.3    20.14   24.52
  16.35   16.09   12.51   15.6    17.99   19.4    15.81   13.5    13.6
  18.49   21.21   15.26   20.38   21.66   19.1    22.41   15.34    7.81
  18.12   20.51   19.08   22.05   18.86   14.82   19.56   23.95   24.
  19.49   25.24   24.7    21.74   19.67   16.1    15.1    17.6    21.14
  22.95   26.     20.28   23.7    16.5    15.73   25.17   16.14   17.21
  13.38   15.04   26.68   20.89   24.39   21.7    15.8    11.7    24.3
  25.8    20.73   18.5    21.01   17.09   26.21   23.84   21.1    12.8
  16.47   20.92   22.7    17.03   15.29   16.95   19.01   18.97   19.3
  21.76   15.2    19.28   21.63   19.5    21.19   12.     17.41   22.54
  12.08   17.9    16.78   17.2    11.5    14.16   19.23    8.5    15.97
   9.     22.38   23.65   15.85   19.7    17.68   19.03   14.84   25.6
  22.3    20.1    18.72   17.19   18.3    13.96   22.77   15.3    23.01
  16.65   12.62   20.5    19.44   14.62   22.69   18.78   16.36   16.38
  14.69   23.64   26.59   19.71   20.4    17.11   22.32   24.4    23.2
  13.17   20.85   14.24   19.15   25.     22.25   22.15   23.56   20.09
  23.4    18.88   15.4    19.62   14.5    21.9    16.25   19.72   22.9
  18.76   12.07   17.88   19.34   14.4    25.4    27.62   22.74   25.44
  18.27   21.72   21.79   22.07   20.71    9.8    13.14   11.33   25.19
  18.16   24.29   15.63   19.16   16.73   14.2    17.3    19.83   27.28
  25.83   16.3    22.1    12.2    18.4    12.78   20.68   24.04   27.39
  20.08   12.05   25.32   20.52   18.75   14.49   11.74   12.99   20.58
  24.35   11.36   14.19   18.19   17.05   12.7    26.49   11.3    15.7
  13.7    13.9    16.98   21.56   23.9    16.02   16.11   17.57   13.8
  18.05   18.24   17.92   18.06   20.25   24.2    19.2    18.1    15.64
  21.13   19.19   13.01   16.42   12.83   22.35   14.59   17.67   11.24
  20.77   12.18   18.8    20.65   20.8    26.2    14.7    23.08   16.24
  19.87   22.37   19.33   16.9    14.57   19.59   14.85   16.13   15.17
  18.55   14.74   20.45   14.28   20.63   21.27   17.33   18.48   13.45
  12.6    15.56   19.98   27.03   16.56   13.2    14.1    13.24   10.91
  16.07   11.1    11.4    11.72   13.32   20.54   10.     11.18   14.21
  10.9    15.43   14.11   22.56   14.67   14.71   17.69   12.55   17.7
  13.06   12.3    17.14   21.03   22.5    21.46   17.42   18.56   13.79
  18.25   14.99   11.9    11.57   20.04   14.     18.45   16.96   12.65
  19.65   10.75   21.73   13.4    20.46   12.35   20.88   26.11   13.58
  10.54   19.64  140.     19.69   15.41   14.9    19.47   10.5    19.09
  21.64   22.61   18.09    8.9    23.59   15.96   13.93   16.4    16.28
  20.86   18.07   16.6    26.1    13.92   14.02   31.59   21.8    12.74
  28.     12.4    12.5    14.025  19.89   30.48   33.54   19.61   26.08
  12.1    12.81    9.2    17.71   16.34   30.46   32.52   11.21   16.39
  11.2    11.67   16.12   26.55    7.08   31.2    12.33   31.79   11.
   8.13   35.6    16.72   25.1    22.48   20.6    14.01   17.38   12.04
  12.34   10.8     9.26   12.95   12.9    16.7    15.68   10.4    20.15
  31.12   26.8    11.88   18.69   22.27   15.01   10.26   19.39   14.34
   8.45   12.63   26.6    13.47   10.13   20.27   14.09   20.01   14.47
  10.93   26.83   24.76   21.11   14.23   26.82   17.32   25.3    19.95
  21.12   11.96   21.02   19.68   18.23   23.22   17.97   16.97   13.33
  27.4    26.5    25.01   17.43   22.71   20.34   24.1    30.47   17.29
  21.49   13.1    18.43   12.12    9.74   25.47   19.17    9.4     7.5
  13.44   14.94   23.03   15.39   24.97   34.05   17.85   21.38   27.97
  20.62   15.15   19.8    14.95   11.81   12.98 ]
------------
place
[1 2 3 4 5]

In [49]:
combined_df.isnull().sum()

transmission    0
model           0
modelyear       0
price           0
fuel_type       0
seats           0
kms_driven      0
ownership       0
engine          0
max_power       0
mileage         0
place           0
dtype: int64

In [50]:
input_data = combined_df.drop(columns=['price'])
output_data =combined_df['price']

In [51]:
x_train, x_test, y_train, y_test = train_test_split(input_data, output_data, test_size=0.2)

In [52]:
model = LinearRegression()

In [53]:
model.fit(x_train, y_train)

LinearRegression()

In [54]:
predict = model.predict(x_test)

In [55]:
predict

array([ 993022.85813805, 1013374.44612563,  239829.71532235, ...,
       -359588.14110288,  391669.73183075,  892594.95227927])

In [56]:
x_train.head(1)

,transmission,model,modelyear,fuel_type,seats,kms_driven,ownership,engine,max_power,mileage,place
2041,2,11,2015,2,7.0,120000.0,1,2982,168.5,12.55,2

In [57]:
input_data_model = pd.DataFrame(
    [[1,4,2017,1,5.0,46375.0,2,1198,86.8,18.5,1]],
    columns=['transmission', 'model', 'modelyear', 'fuel_type', 'seats', 'kms_driven', 'ownership', 'engine', 'max_power', 'mileage','place'])

In [58]:
input_data_model

,transmission,model,modelyear,fuel_type,seats,kms_driven,ownership,engine,max_power,mileage,place
0,1,4,2017,1,5.0,46375.0,2,1198,86.8,18.5,1

In [59]:
model.predict(input_data_model)

array([585138.03152236])

In [61]:
pk.dump(model,open('model.pkl','wb'))